
<!-- If user_is_messages_author sent the message, keep on the left, else put on the right -->
<%# if user_is_messages_author %>

  <div>

    <!-- Message Image, Author, Time -->
    <div class="message-container d-flex flex-column w-50 mb-2 mt-2" id="message-<%= message.id %>">
      <i class="author container d-flex align-items-center">
        <%= cl_image_tag(message.user.avatar.key, :fetch_format=>:auto, :class=>"avatar", :style=>"width: 30px; height: 30px;") %>
        <span style="color:lightgrey; margin-left: 8px; margin-right: 8px; "><%= message.user.nickname %></span>
        <small style="color:lightgrey;"><%= message.created_at.strftime("%l:%M%p") %></small>
      </i>
    </div>

    <!-- Message Content -->
    <% if user_is_messages_author %>

      <div class="message-content">
        <p style="color: white; font-weight: 350;"><%= message.content %></p>
      </div>

    <% else %>

      <div class="message-content-usertwo">
        <p style="color: white; font-weight: 350;"><%= message.content %></p>
      </div>
    <% end %>

  </div>

