
<!-- If user_is_messages_author sent the message, keep on the left, else put on the right -->
<%# if user_is_messages_author %>

  <div class="d-flex">

    <!-- Message Image, Author, Time -->
    <div class="message-container d-flex flex-column mb-2 mt-2" id="message-<%= message.id %>">
        <%= cl_image_tag(message.user.avatar.key, :fetch_format=>:auto, :class=>"avatar", :style=>"width: 36px; height: 36px;") %>
    </div>

    <div class="d-flex flex-column mb-3">
    <span style="color:white; margin-left: 8px; margin-right: 8px; font-weight: 400; "><%= message.user.first_name %>
    <small style="color:lightgrey;"><%= message.created_at.getlocal.strftime("%l:%M%p") %></small></span>

    <!-- Message Content -->
    <% if user_is_messages_author %>

      <div class="message-content">
        <p style="color: white; font-weight: 350;"><%= message.content %></p>
      </div>

    <% else %>

      <div class="message-content-usertwo">
        <p style="color: white; font-weight: 350;"><%= message.content %></p>
      </div>
    <% end %>
  </div>
  </div>

