<% charity_card = render 'components/feed_page/charity_card' %>
<% event_card = render 'components/feed_page/event_card' %>
<% user_in_common = render 'components/feed_page/user_in_common' %>
<% randomised_array =[charity_card, event_card, user_in_common] %>
<!-- ALGORITHM LOGIC (Can this go in a partial?) -->
<% array = [] %>
<% charity_array = [] %>
<% event_array = [] %>
<% friend_array = [] %>
<% 10.times do %>
  <% array << 'charity_card' %>
<% end %>
<% 10.times do %>
  <% array << 'event_card' %>
<% end %>
<% 10.times do %>
  <% array << 'user_in_common' %>
<% end %>
<% 10.times do %>
  <% array << 'wishlist' %>
<% end %>
<% @charity.each do |charity| %>
  <% charity_array << charity %>
<% end %>
<% @events.each do |event| %>
  <% event_array << event %>
<% end %>
<% @friend_status.each do |friend| %>
  <% friend_array << friend %>
<% end %>
<% friend_array.length.times do %>
  <% array << 'friend_status' %>
<% end %>
<% array.shuffle! %>
  <% n = 0 %>
  <% array.take(10).each do |selection| %>
    <% if selection == 'charity_card' && n < charity_array.length %>
      <div class="card-for-feed-charity mb-2 d-flex align-items-center", style="border-radius: 12px;">
        <% images = ['Saly-3.png', 'Saly-22.png', 'Saly-16.png'] %>
        <%= image_tag "#{images.sample}", style:"width: 300px; padding:16px;" %>
        <div class="d-flex flex-column justify-content-around p-3">
          <h5 class="pt-2">Charity <i class="fas fa-ribbon ribbon m-1"></i> </h5>
          <h6><%= @charity[n].name %> <i class="fas fa-globe-asia m-2"></i> <%= @charity[n].location %> </h6>
          <p style="font-weight: 400;"><%=  h truncate(@charity[n].description, :length => 100) %></p>
          <a href="<%= @charity[n].website %>", target="_blank">Website</a>
          <%= link_to "More Info", charities_path, class:"btn btn-info donate-btn w-25 mt-2", style:"border-radius: 24px;" %>
        </div>
        <% n+= 1%>
      </div>
    <% elsif selection == 'event_card' && n < event_array.length %>
      <!-- Event Card -->
      <div class="card-notification-md mb-2 d-flex p-3" style="color:white; border-radius: 12px;">
        <%= cl_image_tag(event_array[n].image.key, width: 250, style:"border-radius:24px;") %>
        <div class="d-flex flex-column align-items-start justify-content-around ml-4">
          <h5 class="ml-3 p-2 text-left"><%= event_array[n].name.capitalize %></h5>
          <div class="d-flex align-items-center ml-4">
            <% if event_array[n].host_link.present? %>
              <img src="<%= event_array[n].host_link %>" style="height: 50px; width:50px; margin-bottom:8px;" class="avatar mr-2">
              <h6>
                Organised by <%= event_array[n].host_name  %>
              <% end %>
            </h6>
          </div>
          <div class="d-flex justify-content-around ">
            <%= link_to "See Event", event_path(event_array[n]), class: "btn btn-info m-3", style: "border-radius: 24px;" %>
            <p class="ml-1 p-2 my-auto", style="color:white; font-weight: 400;"><%= event_array[n].attendees %> going</p>
          </div>
        </div>
        <% n+= 1%>
      </div>
    <% elsif selection == 'friend_status' && n < friend_array.length %>


      <div id="status">
        <div class="card-notification-md mb-2 d-flex p-3" style="border-radius: 12px;">
          <div class="crop" style="border-radius: 24px;">
            <%= cl_image_tag(friend_array[n].avatar.key, :style=>"width:100%; border-radius: 24px;") %>
          </div>
          <div class="d-flex flex-column justify-content-center w-100 ml-5">
            <h6 style="color: lightgrey"><%= @current_user_status.updated_at.localtime.strftime("%d %b, %-l:%M%P") %> </h6>
            <h5 style="color:white"><span style="color: #EC0B43"><%= friend_array[n].first_name %> <%= friend_array[n].last_name %></span> posted an update</h5>
            <h6 style="color: lightgrey"><%= friend_array[n].status[0].content %> </h6>
          </div>
          </p>
          <% heart = rand(0..10) %>
          <div class="d-flex align-items-center h-25 ml-2">
            <i class="fas fa-heart mr-2" style="color:red"></i><p><%= heart %></p>
          </div>
        </div>
        <% n+= 1%>
      </div>


      <!-- Wishlist card from friends -->
    <% elsif selection == 'wishlist' && n < friend_array.length %>
      <div class="card-notification-md d-flex mb-2 p-3" style="border-radius: 12px;">

              <!-- Need to fix this so that 'Add Now' sends friend request to the targeted user -->
              <h5 style="color:white;">Have you seen <%= @users[n].first_name %>? </h5>
              <h6 style="color:white;">They have the same interests as you!</h6>
              <%= link_to "Add now!", friends_path(@users[n]), controller: "friends", action: 'create', method: 'post', class: "btn btn-info w-50 mt-2 rounded", id: @users[n].id  %>
              <% n+= 1%>
            </div>
          </div>

          <% else %>


        <div class="d-flex flex-column justify-content-center w-100 ml-5">
          <h6 style="color: lightgrey"><%= @current_user_status.updated_at.localtime.strftime("%d %b, %-l:%M%P") %> </h6>
          <h5 style="color:white">Have you seen <span style="color: #EC0B43"><%= friend_array[n].first_name %> <%= friend_array[n].last_name %>'s wishlist?</span></h5>
          <%= link_to "Check it out!", wishlist_path(friend_array[n]), class: "btn btn-info w-50 mt-2", style: "border-radius: 24px;" %>
        </div>
          <% n+= 1%>
      </div>

      <% elsif selection == 'user_in_common' && n < friend_array.length %>
        <!-- Have you seen User card -->
        <div class="card-notification-sm mb-2 p-3 d-flex">
          <%= image_tag 'Saly-18.png', style:"width: 300px;" %>
          <div class="d-flex flex-column justify-content-center">
            <!-- Need to fix this so that 'Add Now' sends friend request to the targeted user -->
            <% have_you = @users.take(1)[0] %>
            <h5 style="color:white;">Have you seen <%= have_you.first_name %>? </h5>
            <h6 style="color:white;">They have the same interests as you!</h6>
            <%= link_to "Add now!", friends_path(have_you), controller: "friends", action: 'create', method: 'post', class: "btn btn-info w-50 mt-2", id: have_you.id  %>
            <% n+= 1%>
          </div>
        </div>
      <% else %>
        <%  n=0  %>
      <% end %>
      <div class="ajax-call">

      </div>
  <% end %>
</div>
