<!-- Big giant container -->
<div class="container d-flex flex-wrap">
  <!-- Container to hold dog image and form -->
  <div class="container d-flex ">
    <!-- Container with dog image -->
    <div class="container container-image-dog w-50">
      <%= image_tag 'Sally-4.png', class:"img-fluid" %>
    </div>
    <!-- Container with form -->
    <div class="container d-flex flex-column w-50 my-auto">
      <h2>Charities</h2>
      <h5 style="color: lightgrey;" class="mb-4">At Lumina, we're proud to provide information and access
        to charities from around the world. We're putting a spotlight
        on organisations that genuinely make the world a better place.
      </h5>
      <%= form_tag charities_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Find a charity",
          autocomplete: "off"
        %>
        <%= submit_tag "Search for Charities", class: "btn btn-info mt-2", style:"border-radius: 24px;" %>
      <% end %>
    </div>
  </div>


  <div class="container d-flex flex-wrap justify-content-center">
      <% @charities.each do |charity| %>
        <div class="card-charity d-flex flex-column p-3 m-4">
          <h4 style="color:white"><%= charity.name %></h4>
          <p><%= charity.description %></p>
          <%= link_to "Visit Website", charity.website, target: "_blank", style: "color:white; font-weight: 700; text-decoration: none; margin: 8px 0px;" %>
          <button type="button" class="btn btn-info w-50", style="border-radius: 24px;", data-toggle="modal" data-target="#donateModal">Pledge to Donate</button>
        </div>
      <% end %>
  </div>
</div>


<!-- Donation Modal -->

<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-body-wishlist">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pledge to Donate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-event">
        <div class="container pl-4 pr-4 pt-2">
          <h5 style="color:lightgrey">Donating is voluntary and always your choice. Lumina will display your donation pledge to your friends to help celebrate your efforts.
          <br><br>
          If you have not donated to the charity of your choosing within two days, Lumina will send you a reminder to do so.
          </h5>
        </div>
        <div class="container container-donation d-flex justify-content-start mt-4 p-3">

          <!-- Donate $5 Button -->
          <button class="tip-button mr-2">
            <span class="tip-button__text" id="btn-5">Donate $5</span>
            <div class="coin-wrapper">
              <div class="coin">
                <div class="coin__middle"></div>
                <div class="coin__back"></div>
                <div class="coin__front"></div>
              </div>
            </div>
          </button>

          <!-- Donate $10 Button -->
           <button class="tip-button mr-2">
            <span class="tip-button__text" id="btn-10">Donate $10</span>
            <div class="coin-wrapper">
              <div class="coin">
                <div class="coin__middle"></div>
                <div class="coin__back"></div>
                <div class="coin__front"></div>
              </div>
            </div>
          </button>

          <!-- Donate $25 Button -->
           <button class="tip-button">
            <span class="tip-button__text" id="btn-25">Donate $25</span>
            <div class="coin-wrapper">
              <div class="coin">
                <div class="coin__middle"></div>
                <div class="coin__back"></div>
                <div class="coin__front"></div>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


