<div class="d-flex">
  <%= render 'components/side_bar/side_bar_final' %>

  <!-- Friends Container-->
  <div class="container dashboard-main d-flex justify-content-center flex-wrap pb-4 mb-5">
    <% current_user.friends.each do |friend| %>
      <!-- Friends Card -->
      <div class="container d-flex border">
        <%= cl_image_tag(friend.avatar.key, style:"width: 200px; border-radius: 24px") %>
        <!-- Friend Info -->
        <div class="d-flex flex-column justify-content-between">
          <h3><%= friend.first_name %> <%= friend.last_name %></h3>

          <div class="d-flex justify-content-start">
          <%= link_to "Block", friends_block_path(friend), controller: "friends", action: 'block', method: 'post', id: friend.id, class:"mr-2" %>
          <%= link_to "Delete", friends_delete_path(friend), controller: "friends", action: 'remove', method: 'post', id: friend.id  %>
          </div>
        </div>
      </div>
      <% end %>

    <!-- Strangers -->
    <div class="d-flex flex-wrap border">
    <% current_user.strangers.each do |stranger| %>
        <div class="test">
          <%= cl_image_tag(stranger.avatar.key, style:"width: 200px; border-radius: 24px;") %>
          <%= stranger.first_name %>
          <%= link_to "Request", friends_path(stranger), controller: "friends", action: 'create', method: 'post', class: "btn btn-primary btn-sm my-auto", id: stranger.id  %>
        </div>
      <% end %>
    </div>

  </div>
</div>
