<div class="container d-flex flex-column">
  <div class="chatroom mb-3 w-100">
    <h1>Message with <%= current_chatroom.user_two.first_name %></h1>
    <p style="font-weight: 400;">Last active <%= current_chatroom.user_two.created_at.strftime("%-l:%M%P") %> </p>
    <hr style="color: white">
  </div>

  <div id="messages" class="d-flex flex-column h-75 w-50" data-chatroom-id="<%= current_chatroom.id %>">
    <% messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <hr style="color: white">

  <div class="w-25">
    <%= simple_form_for [ current_chatroom, message ], html: { autocomplete: 'off' } do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message" %>
    <% end %>
  </div>
</div>

