<div class="container d-flex flex-column h-100" style="overflow-y: scroll;">
  <div class="chatroom mb-3 w-100">
    <% if current_user == current_chatroom.user_two %>
      <h1>Message with <%= current_chatroom.user.first_name %></h1>
    <% else %>
      <h1>Message with <%= current_chatroom.user_two.first_name %></h1>
    <% end %>
    <p style="font-weight: 400;">Last active <%= current_chatroom.user_two.created_at.strftime("%-l:%M%P") %> </p>
    <hr style="color: white">
  </div>

  <div id="messages" class="d-flex flex-column h-100 w-100" style="overflow-y:scroll;" data-chatroom-id="<%= current_chatroom.id %>">
    <% messages.each do |message| %>
      <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
    <% end %>
  </div>

  <hr style="color: white">

  <div class="w-25">
    <%= simple_form_for [ current_chatroom, message ], html: { autocomplete: 'off' } do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message" %>
    <% end %>
  </div>
</div>

