<div class="d-flex">
  <%= render 'components/side_bar/side_bar_final' %>

  <!-- Left Column (Chatrooms) -->


  <div class="d-flex flex-column align-items-start justify-content-start ml-0 convo-container-lg" style="background-color: #172B3B; width: 400px; height: 100vh; overflow-y: scroll;">
    <div class="container block-messages w-100 p-3 pt-5 mt-5">
      <h4>Messages</h4>
      <hr>
    </div>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatrooms_path(chatroom: chatroom.id), class:"#{'active' if chatroom == @current_chatroom}" do %>
        <div class="d-flex flex-column mb-2 ml-2 w-100" data-chatroom-id="<%= chatroom.id %>">
          <div class="conversation d-flex align-items-center p-2">

            <% if chatroom.user_two_id == current_user.id %>

                <div class="d-flex align-items-center">
                  <%= cl_image_tag(chatroom.user.avatar.key, :fetch_format=>:auto, :class=>"avatar #{'active' if chatroom == @current_chatroom}", :style=>"width: 52px; height: 52px;") %>

                  <div class="d-flex flex-column align-items-start ml-2">
                    <p style="font-weight: 500;"><%= chatroom.user.first_name %></p>

                    <% if chatroom.messages.count > 0 %>
                      <small><%= chatroom.messages.last.content.to_s.truncate(50) %></small>
                      <small id="last-active"><%= chatroom.updated_at.getlocal.strftime("%d %B, %-l:%M%P")%></small>
                    <% end %>

                  </div>
                </div>

            <% else %>

                <div class="d-flex align-items-center">
                  <%= cl_image_tag(chatroom.user_two.avatar.key, :fetch_format=>:auto, :class=>"avatar #{'active' if chatroom == @current_chatroom}", :style=>"width: 52px; height: 52px;") %>

                  <div class="d-flex flex-column align-items-start ml-2">
                    <p style="font-weight: 500;"><%= chatroom.user_two.first_name %></p>

                    <% if chatroom.messages.count > 0 %>
                      <small><%= chatroom.messages.last.content.to_s.truncate(50) %></small>
                      <small id="last-active"><%= chatroom.updated_at.getlocal.strftime("%d %B, %-l:%M%P") %></small>
                    <% end %>

                  </div>
                </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Right Column (Individual Chatroom Messages) -->

  <div class="container d-flex justify-content-start mt-4 ml-0 pl-0 pt-1 chatrooms-container" style="width: 650px;">
    <div class="container w-100" style="height: 90vh;">
      <% if @current_chatroom %>
        <%= render 'show_new', current_chatroom: @current_chatroom, remote: true, messages: @messages, message: Message.new %>
      <% else %>
        <div class="container h-100 d-flex align-items-center pl-5">
          <h3>You haven't started a conversation with anyone!</h3>
        </div>
      <% end %>
    </div>
  </div>
</div>
