
<div class="container m-5 d-flex">
  <%= link_to 'Messages', chatrooms_path %>
  <div class="chatroom mb-3">
    <h1>Message with <%= @chatroom.user_two.first_name %></h1>
  <div>

  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [ @chatroom, @message ], html: { autocomplete: 'off' } do |f| %>
    <%= f.input :content, label: false, placeholder: "Type your message" %>
  <% end %>
  </div>
</div>
</div>
