<% current_user.friends.each do |friend| %>
  <!-- Friends Card -->
  <%= link_to profile_path(friend) do %>
    <div class="friend-container d-flex mb-2 mr-3 mt-2">
      <%= cl_image_tag(friend.avatar.key, style:"width: 200px; border-radius: 24px 0px 0px 24px; margin-right: 16px;") %>

      <!-- Friend Info -->
      <div class="d-flex flex-column justify-content-center p-2">
        <h5 style="color:white"><%= friend.first_name %> <%= friend.last_name %></h5>
        <%= link_to 'Message', chatrooms_path(user_two_id: friend), method: :post, class:"btn btn-message btn-info", style:"width: 100px;" %>

        <div class="d-flex justify-content-start ml-1 mt-5">
          <%= link_to "Block", friends_block_path(friend), controller: "friends", action: 'block', method: 'post', id: friend.id, class:"mr-2" %>
          <%= link_to "Remove", friends_delete_path(friend), controller: "friends", action: 'remove', method: 'post', id: friend.id  %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
