<div class="d-flex flex-wrap">
  <h3 class="w-100 mt-5 ml-3">Meet Someone New</h3>
  <% current_user.strangers.each do |stranger| %>
      <% if current_user.interests.any? { |interest| stranger.interests.include?(interest)} %>
        <div class="friend-container d-flex mb-5 mr-3 mt-5">
          <%= link_to profile_path(stranger) do %>
            <%= cl_image_tag(stranger.avatar.key, class:"img-fluid", style:"width: 280px;  border-radius: 24px 0px 0px 24px; margin-right: 16px;") %>
            <div class="d-flex flex-column justify-content-center p-2">
              <h3 style="color: white;"><%= stranger.first_name %> <%= stranger.last_name %></h3>
          <% end %>
              <% current_user.interests.each do |interest| %>
                <% if (stranger.interests.include?(interest)) %>
                  <h5 style="color:white;">You both love <%= interest %> </h5>
                <% end %>
              <% end %>
              <%= link_to "Request", friends_path(stranger), controller: "friends", action: 'create', method: 'post', class: "btn btn-info btn-request mt-2", id: stranger.id  %>
            </div>
        </div>
    <% end %>
  <% end %>
</div>
