<div class="d-flex">
  <%= render 'components/side_bar/side_bar_final' %>

  <!-- Main Dashboard container -->
  <div class="container dashboard-main d-flex justify-content-center flex-wrap pb-4 mb-5">

    <div class="d-flex flex-column dashboard-left-column">

      <!-- Container w/ avatar and basic details -->
      <div class="container container-user d-flex" style="min-width: 350px;">
        <%= cl_image_tag(@user.avatar.key, style:"min-width:250px; height: 255px") %>
        <div class="container-user-info d-flex flex-column justify-content-between p-3">

          <div class="d-flex flex-column justify-content-start">
            <h5 style="color:white;"><%= @user.first_name %> <%= @user.last_name %></h5>
             <div class="d-flex">
              <% if current_user.friends.exclude?(@user) %>
                <%= link_to friends_path(@user), controller: "friends", action: 'create', method: 'post', class: "btn btn-info btn-request mt-2", id: @user.id, style:"width: 48px;" do %>
                   <i class="fas fa-user-plus" style="color:white;"></i>
                  <% end %>
              <% end %>
              <%= link_to chatrooms_path(user_two_id: @user), method: :post, class:"btn btn-primary btn-request mt-2 ml-2", style:"width: 48px;" do %>
                <i class="fas fa-comment-dots" style="color:white;"></i>
              <% end %>
            </div>
          </div>

          <!-- If nickname is empty, fill with email -->
          <% if @user.nickname == "" %>
            <p><%= @user.email %></p>
          <% else %>
            <p>@<%= @user.nickname %></p>
          <% end %>

          <!-- If bio is empty, fill with birthday -->
          <% if @user.bio == "" %>
            <p style="color:#a8a8ac;"><%= @user.birthday %></p>
          <% else %>
            <p style="color:#a8a8ac;"><%= @user.bio.truncate(100) %></p>
          <% end %>
        </div>
      </div>

      <!-- Interests container -->
    <div class="container container-user-interests p-3 d-flex align-items-center">
      <%= image_tag 'Saly-16.png', class: "img-fluid", style:"width: 250px;"  %>
      <div class="ml-4 d-flex flex-column flex-wrap">
        <h5 style="color:white;"> <%= @user.first_name %>'s Interests </h5>
        <% @user.interests.each do |interest| %>
          <h6 class="pr-2", style="color:#a8a8ac;"> <%= interest %> </h6>
        <% end %>
      </div>
    </div>

    <div class="container d-flex p-3 justify-content-left flex-wrap container-dash-large">
      <h5 class="mt-4 w-100" style="color:white;"> Discover <%= @user.first_name %>'s Wishlist</h5>
      <!-- Button trigger modal (only viewable if they are friends) Commented out for Demo -->
      <%# if current_user.friends.include?(@user) %>
        <button type="button" class="btn btn-info", style="border-radius: 24px;", data-toggle="modal" data-target="#wishlistModal">
          View Wishlist
        </button>
      <%# else %>
        <!-- <button type="button" class="btn btn-info disabled", style="border-radius: 24px;", data-toggle="modal" data-target="#wishlistModal"> -->
          <!-- Add <%#= @user.first_name %> to view -->
        </button>
      <%# end %>
      <%= image_tag 'Saly-19.png', class: "img-fluid", style:"width: 500px;" %>
    </div>

    </div>


    <div class="d-flex flex-column dashboard-right-column">

      <!-- Container w/ friends and modal pop-up -->
      <div class="container container-friends p-3">
        <div class="d-flex justify-content-between">
          <h5 style="color:white;">Friends</h5>
          <button type="button", data-toggle="modal", data-target="#friendsModal", class="btn-sm btn-primary", style="border-radius:24px; border:none;">See All</button>
          </div>
        <div class="container-friends-images pl-2">
          <% @user.friends.take(8).each do |friend| %>
            <%= link_to profile_path(friend) do %>
              <%= cl_image_tag(friend.avatar.key) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="container container-location d-flex">
        <%= image_tag 'Saly-21.png', class: "img-fluid", style:"width: 250px;" %>
        <div class="d-flex flex-column flex-wrap justify-content-center">
          <h5 style="color:white;">Location </h5>
            <h6 class="pr-2", style="color:#a8a8ac;"> <%= @user.location %></h6>
        </div>
      </div>

      <!-- Event Container -->
      <div class="container d-flex p-3 justify-content-left flex-wrap container-dash-large">
        <h5 class="mt-4 w-100" style="color:white;"> Discover <%= @user.first_name %>'s Event History</h5>
        <% if current_user.friends.include?(@user) %>
          <button type="button" class="btn btn-info", style="border-radius: 24px;" data-toggle="modal" data-target="#eventsModal">
          View Events
          </button>
        <% else %>
          <button type="button" class="btn btn-info disabled", style="border-radius: 24px;" data-toggle="modal" data-target="#eventsModal">
          Add <%= @user.first_name %> to view
          </button>
        <% end %>
        <%= image_tag 'Saly-3.png', class: "img-fluid", style:"width: 500px;" %>
      </div>
    </div>
</div>

<!-- Wishlist Modal -->
<%= render 'components/dashboard_page/dashboard_modal' %>
