<div class="d-flex">
  <%= render 'components/side_bar/side_bar_final' %>
  <div class="container p-0">
    <div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>
  </div>
  <div class="container p-0 d-flex flex-wrap">
    <% @event.each do |event| %>
        <div class="card-event p-2 m-1 d-flex flex-column justify-content-between">
          <%= cloudinary_imgs(event.image.key,event) %>
            <p class="p-3" style="font-weight:400;">
              <%= event.name %></p>
              <%= link_to "More Info", event_path(event), class: "btn btn-info ml-3 mb-3 w-50", style:"border-radius: 24px;" %>
        </div>
    <% end %>
  </div>
</div>


<!--
<div class="card-notification-lg d-flex flex-column" style="color:white; border-radius: 12px;">
      <h6 class="ml-4 pt-3", style="color: white;">Popular Event Categories</h6>
      <div class="card-info-event d-flex flex-wrap justify-content-between mb-5 ml-4 mt-4">
        <h6>Technology</h6>
        <small>1,245 members</small><br>
        <div class="progress info rounded w-75 h-25"></div>
      </div>
      <div class="card-info-event d-flex flex-wrap justify-content-between mb-5 ml-4">
        <h6>Food</h6>
        <small>980 members</small><br>
        <div class="progress rounded w-75 h-25"></div>
      </div>
      <div class="card-info-event d-flex flex-wrap justify-content-between mb-5 ml-4">
        <h6>Photography</h6>
        <small>860 members</small><br>
        <div class="progress rounded w-75 h-25"></div>
      </div>
      <div class="card-info-event d-flex flex-wrap justify-content-between mb-5 ml-4">
        <h6>Animals</h6>
        <small>790 members</small><br>
        <div class="progress rounded w-75 h-25"></div>
      </div>
    </div> -->
