<div class="d-flex">
  <%= render 'components/side_bar/side_bar_final' %>
  <div class="container p-0">
    <div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>
  </div>
  <div class="container p-0 d-flex flex-wrap">
    <% @event.each do |event| %>
        <div class="card-event p-2 m-1 d-flex flex-column justify-content-between">
          <%= cloudinary_imgs(event.image.key,event) %>
            <p class="p-3" style="font-weight:400;">
              <%= event.name %></p>
              <%= link_to "More Info", event_path(event), class: "btn btn-info ml-3 mb-3 w-50", style:"border-radius: 24px;" %>
        </div>
    <% end %>
  </div>
</div>
