<div class="d-flex">
  <%= render 'components/side_bar/side_bar_final' %>
  <!-- Big giant container -->
  <div class="container container-event-show my-auto d-flex flex-wrap">
    <!-- Container to hold dog image and form -->
    <div class="container d-flex align-items-center">
      <!-- Container with dog image -->
      <div class="container p-3">
        <%= cl_image_tag(@event.image.key, width: 500, style:"border-radius:12px;") %>
      </div>
      <!-- Container with form -->
      <div class="d-flex flex-column w-100 ml-4 justify-content-center">
        <h4 style="color:white"><%= @event.name %></h4>
        <h5 style="color: lightgrey">Hosted by <span style="color: #EC0B43"><%= @event.organiser %></span></h5>
        <h5 style="color: lightgrey">Happening on <span style="color: #EC0B43"><%= @event.date.strftime("%A %d %B") %></span></h5>
        <h5 style="color: lightgrey">Attendees <span style="color: #EC0B43"><%= @event.attendees %></span></h5>
        <h5 style="color: lightgrey">You might be interested if you like <span style="color: #EC0B43"><%= @event.category %></span></h5>
        <!-- Event Meetup Logic with form -->
        <% if user_has_meetup?(@user) %>
          <%= link_to "login with meetup to rsvp", user_meetup_omniauth_authorize_path, method: 'post', class: "btn btn-info btn-request mt-2" %>
        <% elsif user_going_to_event?(@user, @event)&& !user_has_meetup?(@user) %>
          <%= link_to "Your Going!", events_path, controller: "events", action: 'rsvp', method: 'get', class: "btn btn-info btn-request mt-2", id: @event.id  %>
        <% elsif !user_has_meetup?(@user) && event_has_no_questions?(@event) %>
          <%= link_to "RSVP", events_rsvp_path(@event), controller: "events", action: 'rsvp', method: 'post', class: "btn btn-info btn-request mt-2", id: @event.id  %>
          <%# <% elsif !user_has_meetup?(current_user) && !event_has_no_questions?(@event)%>
          <%#= link_to "RSVP w questions", events_rsvp_path(@event), controller: "events", action: 'rsvp', method: 'post', class: "btn btn-info btn-request mt-2", id: @event.id %> %>
        <% end %>
        <!-- Event Meetup Logic END -->
      </div>
    </div>
    <h5 class="ml-4" style="color: lightgrey">Send a message to your <span style="color: #9274FB;">friends</span> to invite them!</h5>
    <div class="container d-flex flex-wrap p-2">
      <% current_user.friends.take(10).each do |friend| %>
        <div class="d-flex ml-4">
          <%= link_to chatrooms_path(user_two_id: friend), method: :post do %>
            <div class="d-flex">
              <%= cl_image_tag(friend.avatar.key, style:"width: 72px; border-radius: 50%;") %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="container p-4">
        <p style="font-weight: 500; color: lightgrey;">
          <% if @event.description? %>
            <%=  @event.description.truncate(1500).gsub(/http\S+|https\S+|<(?:"[^"]*"['"]*|'[^']*'['"]*|[^'">])+>/, '') %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
