<div class="d-flex">
  <%= render 'components/side_bar/side_bar_final' %>

  <!-- Main Dashboard container -->
  <div class="container dashboard-main d-flex justify-content-center flex-wrap pb-4 mb-5">

    <div class="d-flex flex-column dashboard-left-column">

      <!-- Container w/ avatar and basic details -->
      <div class="container container-user d-flex" style="min-width: 350px;">
        <%= cl_image_tag(@current_user.avatar.key, style:"min-width:250px; height: 255px") %>
        <div class="container-user-info d-flex flex-column justify-content-around p-3">
          <h5 style="color:white;"><%= @current_user.first_name %> <%= @current_user.last_name %></h5>
          <p>@<%= @current_user.nickname %></p>
          <hr style="color:#3a3b3c">
          <p style="color:#a8a8ac;"><%= @current_user.bio %></p>
        </div>
      </div>

      <!-- Interests container -->
    <div class="container container-user-interests p-3 d-flex align-items-center">
      <%= image_tag 'Saly-16.png', class: "img-fluid", style:"width: 250px;"  %>
      <div class="ml-4 d-flex flex-column flex-wrap">
        <h5 style="color:white;"> <%= @current_user.first_name %>'s Interests </h5>
        <% @current_user.interests.each do |interest| %>
          <h6 class="pr-2", style="color:#a8a8ac;"> <%= interest %> </h6>
        <% end %>
      </div>
    </div>

    <div class="container d-flex p-3 justify-content-center flex-wrap container-dash-large">
      <h5 class="mt-4 w-100" style="color:white;"> Discover <%= @current_user.first_name %>'s Wishlist</h5>
      <%= image_tag 'Saly-19.png', class: "img-fluid", style:"width: 500px;" %>
    </div>

    </div>


    <div class="d-flex flex-column dashboard-right-column">

      <!-- Container w/ friends and modal pop-up -->
      <div class="container container-friends p-3">
        <div class="d-flex justify-content-between">
          <h5 style="color:white;">Friends</h5>
          <h6> <%= link_to "See all", class:"badge badge-info", remote: true, "data-toggle" => "modal", "data-target" => "#exampleModal"%></h6>
          </div>
        <div class="container-friends-images pl-2">
          <% @current_user.friends.take(8).each do |friend| %>
            <%= cl_image_tag(friend.avatar.key) %>
          <% end %>
        </div>
      </div>

      <div class="container container-location d-flex">
        <%= image_tag 'Saly-21.png', class: "img-fluid", style:"width: 250px;" %>
        <div class="d-flex flex-column flex-wrap justify-content-center">
          <h5 style="color:white;">Location </h5>
            <h6 class="pr-2", style="color:#a8a8ac;"> <%= @current_user.location %></h6>
        </div>
      </div>

      <!-- Event Container -->
      <div class="container d-flex p-3 justify-content-center flex-wrap container-dash-large">
        <h5 class="mt-4 w-100" style="color:white;"> Discover <%= @current_user.first_name %>'s Event History</h5>
        <%= image_tag 'Saly-3.png', class: "img-fluid", style:"width: 500px;" %>
      </div>
    </div>
</div>

      <!-- Modal Info -->
      <!-- <div class="d-flex flex-wrap">
      <% @current_user.wishlist.items.each do |item| %>
      <div class="container container-wishlist-items d-flex w-25 flex-column justify-content-between m-2">
        <h6 class="pr-2", style="color:#a8a8ac;"> <%= item.name %> </h6>
        <h6 class="pr-2", style="color:#a8a8ac;">Price - $<%= item.price %> </h6>
        <h6 class="pr-2", style="color:#a8a8ac;"> <%= item.description %> </h6>
        <%= cl_image_tag(item.images[0].key, style:"width: 250px; border-radius:24px;") %>
      </div>
      <% end %>
      </div>

    </div> -->
