<!-- # LINKS FOR SIDE BAR -->
<div class="d-flex">
  <div>
    <%= render 'components/side_bar/side_bar_final' %>
  </div>

  <div class="ml-5 mt-5 mr-2">
    <h3>Feed</h3>

    <!-- Status entry -->
    <h4 class="card-notification-sm p-3">
      <%= simple_form_for([ @status ], remote: true) do |f| %>
        <%= f.input :content, label: false, placeholder: "Share something great with the world", input_html: { style: "border-radius: 12px;"} %>
        <%= f.button :submit, class:"btn btn-info", style:"border-radius: 24px;" %>
      <% end %>
    </h4>

   <!-- If Status exists, put on Feed -->
  <% if user_has_status?(@user) %>
    <div id="status">
      <div id="status-<%= @current_user_status.id %>" class="d-flex justify-content-center">
        <div class="card-notification-md d-flex p-3" style="border-radius: 12px;">
          <div>
            <%= cl_image_tag(@user_for_status[0].avatar.key, :style=>"width:200px; border-radius: 24px; margin-left: 20px;") %>
          </div>
          <div class="d-flex flex-column justify-content-center" style="margin-left: 80px;">
            <h5 style="color:white"><span style="color: #EC0B43"><%= @user_for_status[0].first_name %> <%= @user_for_status[0].last_name %></span> posted an update</h5>
            <h6 style="color: lightgrey"><%= @current_user_status.updated_at.localtime.strftime("%d %b, %-l:%M%P") %> </h6>
            <h6 style="color: lightgrey"><%= @current_user_status.content %> </h6>
          </div>
          </p>
          <% heart = rand(0..10) %>
          <i class="far fa-heart mr-2" style="color:red"></i><%= heart %>
        </div>
    </div>
  </div>
  <% end %>

  <!-- FEED LOGIC & CARDS -->


  <%= render "components/feed_page/feed_randomising" %>

  <br>

  <!-- Right Column -->


  <%= render "components/feed_page/add_friends" %>

  </div>
