<h1 class="m-5 display-3">Lumina Feed!!!</h1>

<!-- # LINKS FOR SIDE BAR -->
<div class="side-bar d-flex indigo-100">
  <div class="container-sm m-3 p-3 d-flex flex-column justify-content-around">

    <!-- #USER -->
    <div class="p-2">
      <%= link_to "Feed", feed_path, class:"display-6" %>
    </div>
    <div class="p-2">
      <%= link_to "Dashboard", dashboard_path, class:"display-6" %>
    </div>

    <!-- #WISHLIST IN SIDEBAR OR IN DASHBOARD? -->
 <!--    <div class="p-2">
      < % = link_to "My Wishlist", wishlist_path(@wishlist), class:"display-6" %>
    </div>
 -->
    <!-- #EVENTS -->
    <div class="p-2">
      <%= link_to "Events", events_path, class:"display-6" %>
    </div>

    <!-- #MESSAGES -->
    <div class="p-2">
      <%= link_to "Messages", messages_path, class:"display-6" %>
    </div>
    <!-- #CHARITIES -->
    <div class="p-2">
      <%= link_to "Donate", charities_path, class:"display-6" %>
    </div>

  </div>


</div>

<div class="card" style="background-color: #231A44">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Time to make the best godamn app ever..</p>
      <footer class="blockquote-footer">The lumina boys <cite title="Source Title">Le Wagon 2021</cite></footer>
    </blockquote>
  </div>
</div>
