<!-- # LINKS FOR SIDE BAR -->
<div class="d-flex">
  <div>
    <%= render 'components/side_bar/side_bar_final' %>
  </div>

  <div class="ml-5 mt-5 mr-2">
    <h3>Feed</h3>

    <!-- Status entry -->
    <h4 class="card-notification-sm p-3">
      <%= simple_form_for([ @status ], remote: true) do |f| %>
        <%= f.input :content, placeholder: "Share something great with the world" %>
        <%= f.button :submit, class:"btn btn-info", style:"border-radius: 24px;" %>
      <% end %>
    </h4>

   <!-- If Status exists, put on Feed -->
  <% if user_has_status?(@user) %>
    <div id="status">
      <div id="status-<%= @current_user_status.id %>">
        <div class="card-notification-sm p-5 d-flex mb-2">
          <div class = "ml-3 mr-3">
            <%= cl_image_tag(@user_for_status[0].avatar.key, :fetch_format=>:auto, :class=>"avatar", :style=>"height: 75px; width:75px; margin-bottom:8px; margin-left: 20px;") %>
            <p>
              <%= @user_for_status[0].first_name %>
              <%= @user_for_status[0].last_name %>
          </div>
          <div class="ml-5 align-items-center mx-auto my-auto status-box text-center">
            <p class="my-auto"> <%= @current_user_status.content %> </p>
          </div>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <!-- FEED LOGIC & CARDS -->


  <%= render "components/feed_page/feed_randomising" %>

  <br>

  <!-- Right Column -->


  <%= render "components/feed_page/add_friends" %>

  </div>
