<div class="side-bar d-flex">
  <div class="container-sm m-3 p-3 d-flex flex-column justify-content-around">
    <div class='d-flex flex-grow-0 top-one p-2 m-3'>
      <i class="fas fa-square p-2 square", style="color:#9247cd"></i>
      <%= link_to root_path, style: "text-decoration:none;" do %>
        <h3 class="title">Lumina</h3>
      <% end %>
    </div>
    <!-- #USER -->
    <div class="sidebar d-flex flex-column justify-content-between h-50 p-2 ml-4">

      <!-- Feed -->
      <div class="<%= 'active' if current_page?(feed_path) %> nav-links d-flex">
        <i class="fas fa-newspaper w-25 mr-4 mb-2" style="font-size: 24px;"></i>
        <div class="d-flex justify-content-start w-100">
          <%= link_to "Feed", feed_path, class:"sidebar-link" %>
        </div>
      </div>

      <!-- Events -->
      <div class="<%= 'active' if current_page?(events_path) %> nav-links d-flex">
        <i class="fas fa-handshake w-25 mr-4 mb-2" style="font-size: 24px;"></i>
        <div class="d-flex justify-content-start  w-100">
          <%= link_to "Events", events_path, class:"sidebar-link" %>
        </div>
      </div>

      <!-- Charities -->
      <div class="<%= 'active' if current_page?(charities_path) %> nav-links d-flex">
        <i class="fas fa-hand-holding-heart w-25 mr-4 mb-2" style="font-size: 24px;"></i>
        <div class="d-flex justify-content-start w-100">
          <%= link_to "Give Back", charities_path, class:"sidebar-link" %>
        </div>
      </div>

      <!-- Friends -->
      <div class="<%= 'active' if current_page?(friends_path) %> nav-links d-flex">
        <% count = current_user.requested_friend_ids.count %>
        <i class="fas fa-smile w-25 mr-4 mb-2" style="font-size: 24px;"></i>
        <div class="d-flex justify-content-start w-100">
          <%= link_to "Friends ", friends_path, class:"sidebar-link" %>

          <% if current_user.requested_friend_ids.count >= 1 %>

            <%= link_to friends_path, remote: true, "data-toggle" => "modal", "data-target" => "#exampleModal" do %>
              <i class="fas fa-circle" id="friend-circle-notification"></i>
            <% end %>

          <% end %>
        </div>
      </div>

      <!-- Dashboard -->
      <div class="<%= 'active' if current_page?(dashboard_path) %> nav-links d-flex">
        <i class="fas fa-user-friends w-25 mr-4 mb-2" style="font-size: 24px;"></i>
        <div class="d-flex justify-content-start w-100">
          <%= link_to "Dashboard", dashboard_path, class:"sidebar-link" %>
        </div>
      </div>


      <!-- Messages -->
      <div class="<%= 'active' if current_page?(chatrooms_path) %> nav-links d-flex">
        <i class="fas fa-comments w-25 mr-4 mb-2" style="font-size: 24px;"></i>
        <div class="d-flex justify-content-start w-100">
          <%= link_to "Conversations", chatrooms_path, class:"sidebar-link" %>
        </div>
      </div>



      <!-- Sign Out -->
      <div class="nav-links d-flex">
        <i class="fas fa-sign-out-alt w-25 mr-4 mb-2" style="font-size: 24px;"></i>
        <div class="d-flex justify-content-start w-100">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"sidebar-link" %>
        </div>
      </div>
    </div>
    <div class="flex-grow-0">
    </div>
  </div>
</div>

<!-- Needs to be outside of entire sidebar to render properly -->
<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:grey;">Friends </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/friends_modal' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
