<div class="side-bar d-flex indigo-100">
  <div class="container-sm m-3 p-3 d-flex flex-column justify-content-around">
    <div class='d-flex flex-grow-0 top-one p-2 m-3'>
     <i class="far fa-square p-2 square "></i><h3 class="title">Lum<span style="color:#C5B5B6">ina</h3>
    </div>

    <!-- #USER -->
    <div class="bar-links">
      <div class="p-2 m-3 link">
        <h4><i class="far fa-newspaper"></i> <%= link_to "Feed", feed_path  %> </h4>
      </div>
      <div class="p-2 m-3 link">
        <h4><i class="fas fa-user-friends"></i> <%= link_to "Dashboard", dashboard_path  %> </h4>
      </div>

      <!-- #WISHLIST IN SIDEBAR OR IN DASHBOARD? -->
   <!--    <div class="p-2">
        < % = link_to "My Wishlist", wishlist_path(@wishlist), class:"display-6" %>
      </div>
   -->
      <!-- #EVENTS -->
      <div class="p-2 m-3 link">
       <h4> <i class="fas fa-calendar-day"></i> <%= link_to "Discover", events_path  %> </h4>
      </div>

      <!-- #MESSAGES -->
      <div class="p-2 m-3 link">
       <h4> <i class="far fa-comments"></i> <%= link_to "Messages", chatrooms_path %> </h4>
      </div>
      <!-- #CHARITIES -->
      <div class="p-2 m-3 link">
       <h4> <i class="fas fa-hand-holding-heart"></i> <%= link_to "Donate", charities_path %> </h4>
      </div>

    </div>
    <div class="flex-grow-0">

    </div>

  </div>

</div>
