<div class="side-bar d-flex indigo-100">
  <div class="container-sm m-3 p-3 d-flex flex-column justify-content-around">
    <div class='d-flex flex-grow-0 top-one p-2 m-3'>
      <i class="far fa-square p-2 square", style="color:#9247cd"></i>
      <h3 class="title">Lumina</h3>
      </div>
      <!-- #USER -->
      <div class="bar-links">
        <div class="p-2 m-3 link">
          <h6><i class="far fa-newspaper mr-3"></i> <%= link_to "Feed", feed_path  %> </h6>
        </div>
        <div class="p-2 m-3 link">
          <h6><i class="fas fa-user-friends mr-3"></i> <%= link_to "Dashboard", dashboard_path  %> </h6>
        </div>
        <!-- #EVENTS -->
        <div class="p-2 m-3 link">
          <h6> <i class="fas fa-calendar-day mr-3"></i> <%= link_to "Events", events_path  %> </h6>
        </div>
        <!-- #MESSAGES -->
        <div class="p-2 m-3 link">
          <h6> <i class="far fa-comments mr-3"></i> <%= link_to "Conversations", chatrooms_path %> </h6>
        </div>
        <!-- #CHARITIES -->
        <div class="p-2 m-3 link">
          <h6> <i class="fas fa-hand-holding-heart mr-3"></i> <%= link_to "Give Back", charities_path %> </h6>
        </div>
        <!-- Friend Requests -->
        <div class="p-2 m-3 link">
          <% count = current_user.requested_friend_ids.count %>
          <h6> <i class="fas fa-hand-holding-heart mr-3"></i> <%= link_to "Friends ", friends_path %><%= link_to "#{count}", friends_path, class:"badge badge-info", remote: true, "data-toggle" => "modal", "data-target" => "#exampleModal"%></h6>
        </div>
        <!-- Sign Out (Temporary) -->
        <div class="p-2 m-3 link">
          <h6> <i class="fas fa-sign-out-alt mr-3"></i> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </h6>
        </div>

      </div>
      <div class="flex-grow-0">
      </div>

    </div>
  </div>

  <!-- Needs to be outside of entire sidebar to render properly -->

  <!-- Modal -->
  <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Friends </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'shared/friends_modal' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
